<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Course Detail</title>
</head>
<body>
  <h2>This is your course</h2>
  <h5>this is Course Description</h5>
  <h5>your course is approximately takes : duration minutes</h5>
  <h5>this is your subject</h5>
</body>
</html>