<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Ruang Suhu</title>
</head>
<body>
  <div style="margin: 1.5%;">
    <a href="/home"><button class="btn btn-secondary">back to home</button></a>
    <a href="/course"><button class="btn btn-secondary">Courses</button></a>
    <a href="/user"><button class="btn btn-secondary">My Courses</button></a>
    <a href="/user/profile"><button class="btn btn-primary">My Profile</button></a>
    <a href="/logout/"><button class="btn btn-danger">Logout</button></a>
    <h1>Ini Home</h1>
    <hr>
    <div class="d-flex p-1">
    <p>halo user <%=data%></p>
    </div>
    <hr>
    <table class="table table-bordered">
      <th>Today's course highlights </th>
      <tr><td><a href="https://www.insertlive.com/hot-gossip/20221013115554-7-292991/rizky-billar-jadi-tersangka-ayah-lesti-kejora-unggah-ini-saat-umrah">Rizky Billar Jadi Tersangka, Ayah Lesti Kejora Unggah Ini Saat Umrah</a></td></tr>
      <tr><td><a href="https://nasional.tempo.co/read/1644835/sinyal-reshuffle-dari-jokowi-usai-nasdem-usung-anies-capres">Sinyal Reshuffle dari Jokowi Usai NasDem Usung Anies Capres</a></td></tr>
      <tr><td><a href="https://www.haibunda.com/parenting/20221013090024-60-286705/gagal-ginjal-misterius-serang-anak-indonesia-idai-bukan-karena-obat-obatan">Gagal Ginjal Misterius Serang Anak Indonesia, IDAI: Bukan karena Obat-obatan</a></td></tr>
      <tr><td><a href="https://www.liputan6.com/bisnis/read/5096060/28-negara-jadi-pasien-imf-menko-airlangga-indonesia-harus-hati-hati">28 Negara Jadi Pasien IMF, Menko Airlangga: Indonesia Harus Hati-Hati</a></td></tr>
      <tr><td><a href="https://www.liputan6.com/news/read/5095532/pengacara-klaim-ferdy-sambo-tak-perintahkan-bharada-e-tembak-brigadir-j">Pengacara Klaim Ferdy Sambo Tak Perintahkan Bharada E Tembak Brigadir J</a></td></tr>
    </table>
  </div>
</body>
</html>