<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>ruang suhu</title>
  <style>
    .form {
      width: 30%;
    }
  </style>
</head>
<body>
  <div style="margin: 1.5%;">
    <h1>ini halaman login</h1>
    <form method="get">
      <label>Username</label><br>
      <input type="text" name="userName" class="form-control form"><br><br>
      <label>password</label><br>
      <input type="text" name="password" class="form-control form"><br><br>
      <input type="submit" class="btn btn-primary"><br><br>
    </form>
    <p>dont have any account yet? please register here</p>
    <a href="/add/"><button class="btn btn-primary">Register</button></a>
    <br><br><br><br>
    <a href="/home"><button class="btn btn-secondary">tembus sek</button></a>
  </div>
</body>
</html>